@font-face {
  font-family: "ExpoArabic";
  src: url("../fonts/ExpoArabic/ExpoArabic-Medium.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "ExpoArabic";
  src: url("../fonts/ExpoArabic/ExpoArabic-Book.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "ExpoArabic";
  src: url("../fonts/ExpoArabic/ExpoArabic-SemiBold.ttf");
  font-weight: 900;
}
html[dir=rtl] * {
  font-family: "ExpoArabic", sans-serif;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat/Montserrat-SemiBold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat/Montserrat-Regular.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat/Montserrat-ExtraBold.ttf");
  font-weight: 900;
}
html[dir=ltr] * {
  font-family: "montserrat", sans-serif;
}
html[dir=ltr] .swiper-button-next {
  right: 10px;
}
@media (max-width: 992px) {
  html[dir=ltr] .swiper-button-next {
    right: calc(50% - 60px) !important;
  }
}

* {
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*::-moz-selection {
  background-color: var(--primary-color);
  color: var(--light-color);
}
*::selection {
  background-color: var(--primary-color);
  color: var(--light-color);
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background-color: var(--light-color);
}
*::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 8px;
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

.overflowNone {
  overflow: hidden;
}

.btn:focus,
button:focus,
input:focus,
.form-control:focus {
  outline-width: 0px !important;
  outline-color: transparent !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

button {
  outline: none !important;
  border: 0px !important;
}

.swiper-pagination {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transition: all 0.3s linear;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1 !important;
  width: 14px;
  height: 14px;
  background-color: var(--primary-color);
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: calc(50% - 24px);
  width: 48px;
  height: 48px;
  border: 0;
  border: 1px solid rgba(238, 240, 243, 0.8);
  background-color: rgba(238, 240, 243, 0.8);
  border-radius: 50%;
  overflow: hidden;
  z-index: 10;
  bottom: 0px !important;
}
@media (max-width: 992px) {
  .swiper-button-next,
  .swiper-button-prev {
    bottom: 40px !important;
    top: unset;
  }
}

.swiper-button-next::before,
.swiper-button-prev::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  transition: all 0.3s linear;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  position: absolute;
  width: 15px;
  height: 15px;
  top: calc(50% - 7.5px);
  left: calc(50% - 7.5px);
  z-index: 9;
  background: url("../images/testimonial/arrow.svg") center/contain no-repeat;
  color: transparent;
  filter: invert(83%) sepia(5%) saturate(472%) hue-rotate(177deg) brightness(93%) contrast(95%);
}

.swiper-button-next:hover::before,
.swiper-button-prev:hover::before {
  height: 100%;
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  filter: var(--light-filter);
}

.swiper-rtl .swiper-button-prev,
.swiper-button-prev {
  left: 10px;
  transform: scaleX(-1);
  right: unset;
}
@media (max-width: 992px) {
  .swiper-rtl .swiper-button-prev,
  .swiper-button-prev {
    left: calc(50% - 60px) !important;
  }
}

.swiper-rtl .swiper-button-next,
.swiper-button-next {
  right: 10px;
}
@media (max-width: 992px) {
  .swiper-rtl .swiper-button-next,
  .swiper-button-next {
    right: calc(50% - 60px) !important;
  }
}

@keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(0.7);
    animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  81% {
    transform: scale(0.84);
    animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(0.95);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    transform: translateY(-50px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-20px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-15px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-left {
  0% {
    transform: translateX(-30px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateX(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateX(-20px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateX(-10px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateX(-4px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
}
@keyframes pulse-shadow {
  100% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.2);
  }
}
@keyframes spinner {
  0% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    transform: scale(1.4);
  }
}
@keyframes spinnerRotate {
  0% {
    transform: scale3d(1, 1, 1) rotate(0deg);
  }
  100% {
    transform: scale(1.4) rotate(10deg);
  }
}
@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    transform: scale3d(0.8, 0.8, 0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
/*dropdown animation*/
@keyframes dropdown-animate {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes wave {
  0%, 100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
@keyframes niceAnimate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes translation {
  0% {
    transform: translateZ(0%);
  }
  100% {
    transform: translateZ(10%);
  }
}
@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-10px, 10px);
  }
  40% {
    transform: translate(-10px, -10px);
  }
  60% {
    transform: translate(10px, 10px);
  }
  80% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes translateX {
  0%, 100% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
}
@keyframes translateXR {
  0%, 100% {
    transform: translateX(2px) scaleX(-1);
  }
  50% {
    transform: translateX(-2px) scaleX(-1);
  }
}
@keyframes translateY {
  0%, 100% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-2px);
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes shadow {
  0% {
    box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}
@keyframes rotate {
  0% {
    border-radius: 50% 60% 55% 40%;
  }
  25% {
    border-radius: 30% 10% 70% 20%;
  }
  50% {
    border-radius: 20% 40% 30% 60%;
  }
  75% {
    border-radius: 70% 20% 50% 30%;
  }
  100% {
    border-radius: 50% 60% 55% 40%;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateX(30px);
  }
  67% {
    opacity: 1;
    transform: translateX(40px);
  }
  100% {
    opacity: 0;
    transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}
@keyframes bottomClip {
  0% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  30% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 42%, 0 41%);
            clip-path: polygon(0 100%, 100% 100%, 100% 42%, 0 41%);
  }
  60%, 100% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
            clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
}
@keyframes TopClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  30% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 55%);
            clip-path: polygon(0 0, 100% 0, 100% 56%, 0 55%);
  }
  60%, 100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}
@keyframes toRightFromLeft {
  49% {
    transform: translate(100%);
  }
  50% {
    opacity: 0;
    transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
@keyframes moving {
  0% {
    background-position-y: 0px;
  }
  100% {
    background-position-y: -10000px;
  }
}
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
@keyframes clipRight {
  0% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
            clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
:root {
  --primary-color: #4abb82;
  --secondary-color: #556987;
  --dark-color: #1d1d35;
  --light-color: #fff;
  --gray-color: #d5dae1;
  --primary-filter: invert(68%) sepia(4%) saturate(3805%) hue-rotate(97deg)
    brightness(88%) contrast(114%);
  --secondary-filter: invert(48%) sepia(9%) saturate(2495%) hue-rotate(175deg)
    brightness(100%) contrast(94%);
  --light-filter: invert(92%) sepia(100%) saturate(23%) hue-rotate(251deg)
    brightness(108%) contrast(100%);
  --gray-filter: invert(58%) sepia(0%) saturate(3400%) hue-rotate(13deg)
    brightness(87%) contrast(97%);
  --danger-filter: invert(17%) sepia(72%) saturate(6801%) hue-rotate(357deg)
    brightness(100%) contrast(115%);
}

.general-section {
  width: 100%;
  padding: 80px 0px;
}
@media (max-width: 992px) {
  .general-section {
    padding: 40px 0px;
  }
}

.custom-btn {
  width: 180px;
  height: 50px;
  position: relative;
  z-index: 9;
  background-color: var(--light-color);
  border-radius: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 10px;
}
.custom-btn::after, .custom-btn::before {
  content: "";
  position: absolute;
  width: 55%;
  height: 100%;
  top: 0;
  z-index: -1;
  transition: all 0.3s linear;
}
.custom-btn::after {
  left: 0;
}
.custom-btn::before {
  right: 0;
}
.custom-btn span {
  font-size: 18px;
  font-weight: normal;
}
.custom-btn img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  filter: var(--light-filter);
}
html[dir=rtl] .custom-btn img {
  transform: scaleX(-1);
}
.custom-btn.primary-btn {
  border: 1px solid var(--primary-color) !important;
}
.custom-btn.primary-btn::after, .custom-btn.primary-btn::before {
  background-color: var(--primary-color);
}
.custom-btn.primary-btn span {
  color: var(--light-color);
}
.custom-btn.primary-btn:hover span {
  color: var(--primary-color);
}
.custom-btn.primary-btn:hover img {
  animation: tada 0.3s linear both;
  filter: var(--primary-filter);
}
.custom-btn.secondary-btn {
  border: 1px solid #d5dae1;
}
.custom-btn.secondary-btn::after, .custom-btn.secondary-btn::before {
  background-color: var(--light-color);
}
.custom-btn.secondary-btn span {
  color: var(--dark-color);
}
.custom-btn.secondary-btn:hover span {
  color: var(--dark-color);
}
.custom-btn.secondary-btn:hover img {
  fill: var(--secondary-filter);
  animation: tada 0.3s linear both;
}
.custom-btn.dark-btn {
  border: 1px solid #d5dae1;
}
.custom-btn.dark-btn::after, .custom-btn.dark-btn::before {
  background-color: var(--dark-color);
}
.custom-btn.dark-btn span {
  color: var(--light-color);
}
.custom-btn.dark-btn:hover span {
  color: var(--light-color);
}
.custom-btn.dark-btn:hover img {
  fill: var(--secondary-filter);
  animation: tada 0.3s linear both;
}
.custom-btn:hover::after, .custom-btn:hover::before {
  width: 0px;
}
.custom-btn:hover span {
  animation: storm 0.4s linear both;
}

.navbar {
  width: 100%;
  padding: 20px 0px;
  background-color: var(--light-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all 0.3s linear;
  box-shadow: 0px 11px 50px rgba(29, 29, 53, 0.1);
}
.navbar.scrolled {
  padding: 10px 0px;
}
@media (max-width: 992px) {
  .navbar.scrolled .navbar-nav {
    top: 52px !important;
  }
}
.navbar .contain {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.navbar .contain .hamburger {
  display: none;
}
@media (max-width: 992px) {
  .navbar .contain .hamburger {
    display: block;
  }
}
.navbar .contain .hamburger .line {
  width: 30px;
  height: 3px;
  background: var(--primary-color);
  display: block;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
}
.navbar .contain .hamburger.active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg);
}
.navbar .contain .hamburger.active .line:nth-child(2) {
  width: 0px;
}
.navbar .contain .hamburger.active .line:nth-child(1), .navbar .contain .hamburger.active .line:nth-child(3) {
  transition-delay: 0.3s;
}
.navbar .contain .hamburger.active .line:nth-child(1) {
  transform: translateY(6.5px);
}
.navbar .contain .hamburger.active .line:nth-child(3) {
  transform: translateY(-15px) rotate(90deg);
}
.navbar .contain .brand-name img {
  width: 106px;
  height: 32px;
  -o-object-fit: contain;
     object-fit: contain;
}
.navbar .contain .navbar-nav {
  flex-direction: row;
  gap: 20px;
}
@media (max-width: 992px) {
  .navbar .contain .navbar-nav {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 83px;
    right: -100%;
    background-color: var(--light-color);
    z-index: 99;
    flex-direction: column;
    gap: 0px;
    padding: 20px 15px;
    transition: all 0.3s linear;
  }
  html[dir=ltr] .navbar .contain .navbar-nav {
    right: unset;
    left: -100%;
  }
  .navbar .contain .navbar-nav.active-nav {
    right: 0px;
  }
  html[dir=ltr] .navbar .contain .navbar-nav.active-nav {
    right: unset;
    left: 0%;
  }
  .navbar .contain .navbar-nav::after, .navbar .contain .navbar-nav::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 40%;
    z-index: -1;
    bottom: 0;
    left: 0;
    background: url("../images/icons/top_pattern.svg") top left/contain no-repeat;
    animation: bottomClip 4s linear infinite alternate;
  }
  .navbar .contain .navbar-nav::before {
    right: 0px;
    left: unset;
    transform: scaleX(-1);
  }
}
.navbar .contain .navbar-nav .nav-item {
  padding: 0px;
  margin: 0px;
}
@media (max-width: 992px) {
  .navbar .contain .navbar-nav .nav-item.socail-links {
    display: none;
  }
}
@media (min-width: 992px) {
  .navbar .contain .navbar-nav .nav-item.hidden-item {
    display: none;
  }
}
.navbar .contain .navbar-nav .nav-item.hidden-item .custom-btn {
  width: 100%;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .navbar .contain .navbar-nav .nav-item {
    padding: 10px 0px;
  }
  .navbar .contain .navbar-nav .nav-item:first-child {
    padding-top: 0px;
  }
  .navbar .contain .navbar-nav .nav-item:last-child {
    padding-bottom: 0px;
    border-bottom: 0px;
  }
}
.navbar .contain .navbar-nav .nav-item .nav-link {
  margin: 0px;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 700;
  color: var(--dark-color);
  position: relative;
  z-index: 9;
}
@media (max-width: 992px) {
  .navbar .contain .navbar-nav .nav-item .nav-link {
    width: 1005px;
    padding: 0px;
  }
}
.navbar .contain .navbar-nav .nav-item .nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/icons/draw_pattern.svg") center/cover no-repeat;
  filter: var(--primary-filter);
  opacity: 0.1;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  transition: all 0.3s linear;
}
@media (max-width: 992px) {
  .navbar .contain .navbar-nav .nav-item .nav-link::after {
    display: none;
  }
}
.navbar .contain .navbar-nav .nav-item .nav-link:hover, .navbar .contain .navbar-nav .nav-item .nav-link.active {
  color: var(--primary-color);
}
.navbar .contain .navbar-nav .nav-item .nav-link:hover::after, .navbar .contain .navbar-nav .nav-item .nav-link.active::after {
  animation: clipRight 0.3s linear;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.navbar .contain .button-contain {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 20px;
}
.navbar .contain .button-contain .dropdown {
  position: relative;
  display: inline-block;
}
.navbar .contain .button-contain .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
@media (max-width: 992px) {
  html[dir=rtl] .navbar .contain .button-contain .dropdown-content {
    left: 0px !important;
  }
}
.navbar .contain .button-contain .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.navbar .contain .button-contain .dropdown-content a:hover {
  background-color: #f1f1f1;
}
.navbar .contain .button-contain .dropdown:hover .dropdown-content {
  display: block;
}
.navbar .contain .button-contain .dropdown:hover .lang span {
  cursor: pointer;
}
.navbar .contain .button-contain .lang {
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 9;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  -webkit-clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
          clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
}
.navbar .contain .button-contain .lang::after {
  content: "";
  position: absolute;
  width: 11px;
  height: 5px;
  background: url("../images/icons/ddl-arrow.svg") center/contain no-repeat;
  top: 50%;
  right: 0px;
  z-index: -1;
  transition: all 0.3s linear;
}
html[dir=rtl] .navbar .contain .button-contain .lang::after {
  left: 0px;
  right: unset;
}
.navbar .contain .button-contain .lang[aria-expanded=true]::after {
  transform: rotate(180deg);
}
.navbar .contain .button-contain .lang span {
  font-size: 16px;
  font-weight: 600;
  color: var(--dark-color);
}
.navbar .contain .button-contain .custom-btn {
  width: 130px;
  height: 36px;
}
.navbar .contain .button-contain .custom-btn span {
  font-size: 14px;
}
@media (max-width: 992px) {
  .navbar .contain .button-contain .custom-btn {
    display: none;
  }
}

header {
  padding: 150px 0px 0px 0px;
}
header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 992px) {
  header .container {
    margin-bottom: 30px;
  }
}
header .content {
  background-color: var(--primary-color);
  width: 140px;
  height: 22px;
  border-radius: 36px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
header .content .status {
  font-size: 12px;
  color: #fff;
  text-align: center;
}
header .content img {
  width: 20px;
  height: 20px;
}
header .header-title {
  font-size: 56px;
  color: var(--dark-color);
  font-weight: bold;
  text-align: center;
  margin-bottom: 32px;
}
@media (max-width: 992px) {
  header .header-title {
    font-size: 30px;
  }
}
header .header-desc {
  font-size: 20px;
  color: #333f51;
  width: 55%;
  text-align: center;
  margin-bottom: 32px;
}
@media (max-width: 992px) {
  header .header-desc {
    font-size: 16px;
    width: 100%;
  }
}
header .header-btn {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 16px;
}
@media (max-width: 992px) {
  header .header-btn {
    flex-direction: column;
    width: 100%;
  }
  header .header-btn .custom-btn {
    width: 100%;
  }
}
header .intro {
  width: 100%;
}
header .intro img {
  width: 100%;
  height: 648px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  animation: translateY 1s linear infinite alternate;
}
@media (max-width: 992px) {
  header .intro img {
    height: 196px;
  }
}

.trusted-section {
  background-color: rgba(234, 254, 241, 0.3);
}
.trusted-section .heading {
  text-align: center;
  margin-bottom: 60px;
}
.trusted-section .heading h2 {
  font-size: 30px;
  color: var(--dark-color);
  font-weight: 700;
  margin-bottom: 18px;
}
@media (max-width: 992px) {
  .trusted-section .heading h2 {
    font-size: 20px;
  }
}
.trusted-section .heading p {
  font-size: 20px;
  color: #8896ab;
}
@media (max-width: 992px) {
  .trusted-section .heading p {
    font-size: 16px;
  }
}
.trusted-section .companies {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 32px;
  -moz-column-gap: 120px;
       column-gap: 120px;
}
@media (max-width: 992px) {
  .trusted-section .companies {
    justify-content: space-around;
    row-gap: 30px;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}

.services .heading {
  width: 100%;
  margin-bottom: 66px;
}
.services .heading .content {
  background-color: var(--primary-color);
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 36px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 0px auto;
  gap: 10px;
}
.services .heading .content .status {
  font-size: 12px;
  color: #fff;
  text-align: center;
}
.services .heading .content img {
  width: 15px;
  height: 15px;
}
.services .heading .header-title {
  font-size: 56px;
  color: var(--dark-color);
  font-weight: bold;
  text-align: center;
  margin-bottom: 32px;
}
@media (max-width: 992px) {
  .services .heading .header-title {
    font-size: 30px;
  }
}
.services .heading .header-desc {
  font-size: 20px;
  color: #333f51;
  width: 55%;
  margin: 0px auto;
  text-align: center;
}
@media (max-width: 992px) {
  .services .heading .header-desc {
    font-size: 16px;
    width: 100%;
  }
}
.services .nav.nav-tabs {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  border-radius: 50px;
  border: 0px;
  margin-bottom: 65px;
  background-color: #f5f7fa;
}
@media (max-width: 992px) {
  .services .nav.nav-tabs {
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 5px;
  }
}
.services .nav.nav-tabs li {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
@media (max-width: 992px) {
  .services .nav.nav-tabs li {
    width: calc(25% - 10px);
  }
}
.services .nav.nav-tabs li .nav-link {
  width: 180px;
  height: 50px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 50px;
  padding: 19px 0px;
  border: 0px;
  margin: 0px;
  gap: 10px;
}
@media (max-width: 992px) {
  .services .nav.nav-tabs li .nav-link {
    width: 100%;
    padding: 5px;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 3px;
    flex-direction: column;
    gap: 8px;
  }
}
.services .nav.nav-tabs li .nav-link img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  filter: invert(39%) sepia(18%) saturate(793%) hue-rotate(177deg) brightness(97%) contrast(85%);
}
@media (max-width: 992px) {
  .services .nav.nav-tabs li .nav-link img {
    width: 20px;
    height: 20px;
  }
}
.services .nav.nav-tabs li .nav-link span {
  font-size: 20px;
  font-weight: 500;
  color: var(--secondary-color);
}
@media (max-width: 992px) {
  .services .nav.nav-tabs li .nav-link span {
    font-size: 10px;
  }
}
.services .nav.nav-tabs li .nav-link.active {
  background-color: var(--light-color);
}
.services .nav.nav-tabs li .nav-link.active img {
  filter: invert(9%) sepia(18%) saturate(2029%) hue-rotate(201deg) brightness(89%) contrast(91%);
}
.services .nav.nav-tabs li .nav-link.active span {
  color: #1d1d35;
}
.services .tab-pane.fade {
  transition: all 0.3s linear;
}
.services .tab-pane.fade.active.show {
  animation: fadeInLeft 0.5s linear both;
}
.services .contain {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  gap: 20px;
}
.services .contain h2 {
  font-size: 40px;
  font-weight: 900;
  color: var(--dark-color);
  margin: 0px;
}
@media (max-width: 992px) {
  .services .contain h2 {
    font-size: 18px;
  }
}
.services .contain p {
  color: var(--secondary-color);
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
}
.services .contain .list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  align-content: flex-start;
}
.services .contain .list li {
  padding-inline-start: 30px;
  position: relative;
  z-index: 9;
  color: var(--secondary-color);
  font-size: 15px;
  font-weight: 500;
}
@media (max-width: 992px) {
  .services .contain .list li {
    font-size: 12px;
  }
}
.services .contain .list li::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: url("../images/icons/double-arrow.svg") center/contain no-repeat;
  top: calc(50% - 12px);
  left: 0;
}
html[dir=rtl] .services .contain .list li::after {
  left: unset;
  right: 0px;
  transform: scaleX(-1);
}
.services .contain .see-more {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 2px;
}
.services .contain .see-more span {
  font-size: 15px;
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: underline;
}
.services .contain .see-more img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
}
html[dir=rtl] .services .contain .see-more img {
  transform: scaleX(-1);
}
.services .contain .see-more:hover span {
  animation: storm 0.3s linear both;
}
.services .contain .see-more:hover img {
  animation: translateX 1s linear infinite alternate;
}
html[dir=rtl] .services .contain .see-more:hover img {
  animation: translateXR 1s linear infinite alternate !important;
}
.services .service-img {
  width: 100%;
  height: 460px;
  animation: translateY 1s linear infinite alternate;
}
@media (max-width: 992px) {
  .services .service-img {
    height: 150px;
  }
}
.services .service-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.fields-section .heading {
  text-align: center;
  margin-bottom: 70px;
}
@media (max-width: 992px) {
  .fields-section .heading {
    margin-bottom: 16px;
  }
}
.fields-section .heading .title {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 10px;
}
.fields-section .heading .title h2 {
  font-size: 36px;
  color: var(--dark-color);
  font-weight: 700;
  margin-bottom: 17px;
  position: relative;
}
@media (max-width: 992px) {
  .fields-section .heading .title h2 {
    font-size: 30px;
  }
}
.fields-section .heading .title h2 img {
  width: 60px;
  height: 60px;
  position: absolute;
}
@media (max-width: 992px) {
  .fields-section .heading .title h2 img {
    display: none;
  }
}
.fields-section .heading .title h2 img:first-child {
  top: -50px;
  left: -60px;
}
.fields-section .heading .title h2 img:last-child {
  top: -40px;
  right: -60px;
}
.fields-section .heading p {
  font-size: 20px;
  color: #404f65;
  text-align: center;
}
@media (max-width: 992px) {
  .fields-section .heading p {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .fields-section .box-contain {
    padding-inline-start: 50px;
  }
}
.fields-section .box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  justify-content: flex-start;
  padding: 20px 10px;
  transition: all 0.3s linear;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .fields-section .box {
    padding: 40px 20px;
  }
}
.fields-section .box::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  bottom: 0;
  left: 0;
  z-index: -1;
  box-shadow: 5px 65px 68px rgba(29, 29, 53, 0.06);
  transition: all 0.3s linear;
}
.fields-section .box .flex-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.fields-section .box .flex-data img {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.fields-section .box .flex-data h2 {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 600;
  margin: 0px;
  text-align: center;
}
@media (max-width: 992px) {
  .fields-section .box .flex-data h2 {
    font-size: 12px;
  }
}
.fields-section .box p {
  color: #556987;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin: 0px;
}
@media (max-width: 992px) {
  .fields-section .box p {
    font-size: 10px;
  }
}
.fields-section .box:hover {
  transform: translateY(-10px);
}
.fields-section .box:hover::after {
  height: 100%;
}
.fields-section .mobile {
  height: 600px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  animation: translateY 1s linear infinite alternate;
}
@media (max-width: 992px) {
  .fields-section .mobile {
    height: 480px;
  }
}

.why-section {
  background-color: rgba(234, 254, 241, 0.3);
}
@media (max-width: 992px) {
  .why-section {
    display: none;
  }
}
.why-section .heading {
  text-align: center;
  margin-bottom: 45px;
}
.why-section .heading h2 {
  font-size: 48px;
  color: var(--dark-color);
  font-weight: 700;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .why-section .heading h2 {
    font-size: 30px;
  }
}
.why-section .heading p {
  font-size: 20px;
  color: #404f65;
  text-align: center;
}
@media (max-width: 992px) {
  .why-section .heading p {
    font-size: 16px;
  }
}
.why-section .box {
  width: 100%;
  padding: 50px;
  border-radius: 8px;
  position: relative;
  z-index: 9;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  transition: all 0.3s linear;
  gap: 10px;
  text-align: center;
}
@media (max-width: 992px) {
  .why-section .box {
    padding: 30px 15px;
  }
}
.why-section .box::after {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  width: 100%;
  height: 0%;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s linear;
}
.why-section .box .icon {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: var(--light-color);
  overflow: hidden;
  border-radius: 50%;
}
.why-section .box .icon img {
  width: 50%;
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.why-section .box h2 {
  font-size: 24px;
  font-weight: 900;
  color: var(--dark-color);
  margin: 0px;
}
.why-section .box p {
  color: var(--dark-color);
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
}
.why-section .box:hover {
  transform: translateY(-10px);
}
.why-section .box:hover::after {
  height: 100%;
}
.why-section .box:hover .icon {
  background-color: var(--light-color);
}
.why-section .box:hover .icon img {
  animation: fadeInLeft 0.3s linear both;
}
.why-section .box:hover h2 {
  color: var(--light-color);
}
.why-section .box:hover p {
  color: var(--light-color);
}

.why-mobile-section {
  background-color: rgba(234, 254, 241, 0.3);
}
@media (min-width: 992px) {
  .why-mobile-section {
    display: none;
  }
}
.why-mobile-section .swiper-wrapper {
  padding: 20px 0px 90px;
}
.why-mobile-section .heading {
  text-align: center;
  margin-bottom: 45px;
}
.why-mobile-section .heading h2 {
  font-size: 48px;
  color: var(--dark-color);
  font-weight: 700;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .why-mobile-section .heading h2 {
    font-size: 30px;
  }
}
.why-mobile-section .heading p {
  font-size: 20px;
  color: #404f65;
  text-align: center;
}
@media (max-width: 992px) {
  .why-mobile-section .heading p {
    font-size: 16px;
  }
}
.why-mobile-section .box {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}
.why-mobile-section .box .icon {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: var(--light-color);
  overflow: hidden;
  border-radius: 50%;
}
.why-mobile-section .box .icon img {
  width: 50%;
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.why-mobile-section .box h2 {
  font-weight: 700;
  font-size: 20px;
  color: var(--dark-color);
}
.why-mobile-section .box p {
  font-size: 16px;
  color: var(--dark-color);
}
.why-mobile-section .swiper-pagination-bullet {
  background-color: #d5dae1;
}
.why-mobile-section .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--primary-color);
}
.why-mobile-section .swiper-pagination-bullets {
  bottom: 0px;
}

.testimonial .swiper-testimonial {
  position: relative;
}
.testimonial .swiper-wrapper {
  padding: 30px 0px 50px;
}
@media (max-width: 992px) {
  .testimonial .swiper-wrapper {
    padding-bottom: 90px;
  }
}
.testimonial .testimonial-box {
  text-align: center;
  margin: auto;
}
.testimonial .testimonial-box .contain {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  width: 80%;
  height: 256px;
  background-image: url("../images/testimonial/disc.png");
  background-repeat: no-repeat;
}
@media (max-width: 992px) {
  .testimonial .testimonial-box .contain {
    width: 100%;
    height: unset;
    background-size: contain;
  }
}
.testimonial .testimonial-box .contain h2 {
  text-align: center;
  color: var(--dark-color);
  font-size: 30px;
  font-weight: 600;
  margin: 0px;
}
@media (max-width: 992px) {
  .testimonial .testimonial-box .contain h2 {
    font-size: 18px;
  }
}
.testimonial .testimonial-box .image-contain {
  text-align: center;
}
.testimonial .testimonial-box .image-contain img {
  margin: 32px auto;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
}
@media (max-width: 992px) {
  .testimonial .testimonial-box .image-contain img {
    margin: 20px auto;
    width: 50px;
    height: 50px;
  }
}
.testimonial .testimonial-box .image-contain .info h2 {
  font-size: 24px;
  color: var(--dark-color);
}
@media (max-width: 992px) {
  .testimonial .testimonial-box .image-contain .info h2 {
    font-size: 18px;
  }
}
.testimonial .testimonial-box .image-contain .info p {
  color: #404f65;
  font-size: 18px;
}
@media (max-width: 992px) {
  .testimonial .testimonial-box .image-contain .info p {
    font-size: 12px;
  }
}
.testimonial .swiper-pagination-bullet {
  background-color: #d5dae1;
}
.testimonial .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--primary-color);
}

.partners-section .title {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.partners-section .title h2 {
  color: var(--dark-color);
  font-size: 36px;
  font-weight: 700;
}
@media (max-width: 992px) {
  .partners-section .title h2 {
    font-size: 23px;
  }
}
.partners-section .title p {
  color: #404f65;
  font-size: 20px;
}
@media (max-width: 992px) {
  .partners-section .title p {
    font-size: 16px;
  }
}
.partners-section .title .see-all {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 5px;
}
@media (max-width: 992px) {
  .partners-section .title .see-all {
    display: none !important;
  }
}
html[dir=rtl] .partners-section .title .see-all {
  flex-direction: row-reverse;
}
.partners-section .title .see-all a span {
  color: var(--dark-color);
  font-size: 16px;
  font-weight: 600;
  margin: 0px 10px;
}
@media (max-width: 992px) {
  .partners-section .see-all-mobile {
    display: block !important;
  }
}
.partners-section .see-all-mobile .custom-btn {
  width: 100%;
  margin: 32px 0px;
}
.partners-section .partner-box {
  margin-top: 10px;
  width: 100%;
  height: 240px;
  position: relative;
  z-index: 9;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s linear;
}
.partners-section .partner-box .partner-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -2;
  transition: all 0.3s linear;
}
.partners-section .partner-box .content {
  width: 100%;
  height: 100%;
  padding: 15px;
}
.partners-section .partner-box .content .status {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 200px;
  height: 100px;
  background-image: url("../images/partners/grapic.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.partners-section .partner-box .content .status .name {
  color: var(--light-color);
  font-size: 16px;
}
.partners-section .partner-box .content .status .desc {
  color: var(--light-color);
  font-size: 11px;
}
.partners-section .partner-box .content img {
  width: 32px;
  height: 32px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 10px;
  left: 85%;
}
html[dir=rtl] .partners-section .partner-box .content img {
  left: unset;
  right: 85%;
}
.partners-section .partner-box:hover {
  transform: translateY(-10px);
}
.partners-section .partner-box:hover .partner-img {
  transform: scale(1.2);
}
.partners-section .contain {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s linear;
}
.partners-section .contain .date {
  font-size: 14px;
  color: #8896ab;
}
.partners-section .contain h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--dark-color);
  margin: 0px;
}
.partners-section .contain p {
  color: #333f51;
  font-size: 16px;
  font-weight: 500;
  margin: 16px 0px;
}
.partners-section .contain .details {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2px;
}
.partners-section .contain .details .duration {
  background-color: #f3f4f5;
  padding: 0px 10px;
  border-radius: 25px;
}
.partners-section .contain .details span {
  color: var(--dark-color);
  font-size: 14px;
  font-weight: 600;
  margin: 6px 0px 0px;
}

.subscribe-now .heading {
  text-align: center;
  margin-bottom: 60px;
}
.subscribe-now .heading h2 {
  font-size: 30px;
  color: var(--dark-color);
  font-weight: 700;
  margin-bottom: 18px;
}
@media (max-width: 992px) {
  .subscribe-now .heading h2 {
    font-size: 20px;
  }
}
.subscribe-now .heading p {
  font-size: 20px;
  color: #8896ab;
}
@media (max-width: 992px) {
  .subscribe-now .heading p {
    font-size: 16px;
  }
}
.subscribe-now .box-shape:first-child .box .list {
  margin-top: 46px;
}
.subscribe-now .box {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 9;
  border: 1px solid #d4d6d9;
  border-radius: 15px;
  transition: all 0.3s linear;
  padding: 40px 30px 90px;
}
@media (max-width: 992px) {
  .subscribe-now .box {
    padding: 30px 15px;
  }
}
.subscribe-now .box .box-title {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: start;
  gap: 10px;
}
.subscribe-now .box .box-title h2 {
  color: var(--dark-color);
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
.subscribe-now .box .box-title .icon {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #eef0f3;
  overflow: hidden;
  border-radius: 50%;
}
.subscribe-now .box .box-title .icon img {
  width: 50%;
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.subscribe-now .box .price-title {
  font-size: 16px;
  color: white;
  margin-top: 20px;
}
.subscribe-now .box .flex-price {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 10px;
}
.subscribe-now .box .flex-price p {
  margin: 0px;
  font-size: 48px;
  color: var(--light-color);
  font-weight: 500;
}
.subscribe-now .box .flex-price p.after {
  opacity: 0.5;
  text-decoration: line-through;
}
@media (max-width: 992px) {
  .subscribe-now .box .flex-price p {
    font-size: 25px;
  }
}
.subscribe-now .box .flex-price p span {
  font-size: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 992px) {
  .subscribe-now .box .flex-price p span {
    font-size: 15px;
  }
}
.subscribe-now .box .desc {
  font-size: 48px;
  font-weight: 500;
  margin: 20px 0px;
  color: var(--dark-color);
}
@media (max-width: 992px) {
  .subscribe-now .box .desc {
    font-size: 35px;
  }
}
.subscribe-now .box .list {
  width: 100%;
  padding: 20px 0px;
  border-top: 1px solid var(--gray-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.subscribe-now .box .list h2 {
  font-size: 16px;
  color: #556987;
}
.subscribe-now .box .list li {
  width: 100%;
  padding-inline-start: 28px;
  position: relative;
  z-index: 9;
  color: var(--dark-color);
  font-size: 16px;
  font-weight: 500;
}
.subscribe-now .box .list li::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: url("../images/icons/check.svg") center/contain no-repeat;
  top: 0px;
  right: 0;
  z-index: -1;
}
html[dir=ltr] .subscribe-now .box .list li::after {
  left: 0px;
  right: unset;
}
.subscribe-now .box .custom-btn {
  margin: 0px auto;
  width: 100%;
}
@media (min-width: 992px) {
  .subscribe-now .box .custom-btn {
    position: absolute;
    bottom: 20px;
    left: 10px;
    width: calc(100% - 20px);
  }
}
.subscribe-now .box:hover {
  transform: translateY(-10px);
}
.subscribe-now .box:hover .custom-btn {
  border-color: var(--gray-color);
}
.subscribe-now .box:hover .custom-btn span {
  color: var(--dark-color);
}
.subscribe-now .box:hover .custom-btn::after {
  animation: ani2 0.5s steps(29) forwards;
}
.subscribe-now .box:hover .custom-btn:hover span {
  animation: storm 0.3s linear both;
  color: var(--dark-color);
}
.subscribe-now .box:hover .custom-btn:hover::after {
  animation: ani 0.5s steps(29) forwards;
}
.subscribe-now .dark-box {
  background-color: var(--dark-color);
}
.subscribe-now .dark-box .box-title {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: start;
  gap: 10px;
}
.subscribe-now .dark-box .box-title h2 {
  color: var(--light-color);
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
.subscribe-now .dark-box .box-title .icon {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: var(--dark-color);
  border: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
  border-radius: 50%;
}
.subscribe-now .dark-box .box-title .icon img {
  width: 50%;
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.subscribe-now .dark-box .flex-price p {
  margin-bottom: 20px;
}
.subscribe-now .dark-box .list h2 {
  color: rgba(255, 255, 255, 0.8);
}
.subscribe-now .dark-box .list li {
  color: var(--light-color);
}
.subscribe-now .dark-box .list li::after {
  background: url("../images/icons/check_white.svg") center/contain no-repeat;
}
.subscribe-now .dark-box .second {
  border-top: none;
}
.subscribe-now .dark-box:hover .custom-btn span {
  color: var(--light-color);
}
.subscribe-now .light-box {
  background-color: var(--light-color);
}
.subscribe-now .light-box .box-title {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: start;
  gap: 10px;
}
.subscribe-now .light-box .box-title h2 {
  color: var(--dark-color);
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
.subscribe-now .light-box .box-title .icon {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #eef0f3;
  border: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
  border-radius: 50%;
}
.subscribe-now .light-box .box-title .icon img {
  width: 50%;
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.subscribe-now .light-box .price-title {
  font-size: 16px;
  color: #8896ab;
  margin-top: 20px;
}
.subscribe-now .light-box .flex-price p {
  margin-bottom: 20px;
  color: var(--dark-color);
}
.subscribe-now .light-box .flex-price p span {
  color: #8896ab;
}
.subscribe-now .light-box .list h2 {
  color: #556987;
}
.subscribe-now .light-box .list li {
  color: var(--dark-color);
}
.subscribe-now .light-box .list li::after {
  background: url("../images/icons/check.svg") center/contain no-repeat;
}
.subscribe-now .light-box .second {
  border-top: none;
}
.subscribe-now .light-box:hover .custom-btn span {
  color: var(--dark-color);
}

.question {
  background-color: rgba(234, 254, 241, 0.3);
}
.question .heading {
  text-align: center;
  margin-bottom: 45px;
}
.question .heading h2 {
  font-size: 48px;
  color: var(--dark-color);
  font-weight: 700;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .question .heading h2 {
    font-size: 30px;
  }
}
.question .heading p {
  font-size: 20px;
  color: #404f65;
  text-align: center;
}
@media (max-width: 992px) {
  .question .heading p {
    font-size: 16px;
  }
}
.question .question-data .icon {
  width: 120px;
  height: 120px;
  display: flex;
  align-content: center;
  align-items: center;
}
.question .question-data .icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.question .question-data h1 {
  font-size: 35px;
  font-weight: 900;
  color: var(--dark-color);
  margin: 16px 0px;
}
.question .question-data p {
  color: var(--gray-color);
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
}
.question .card {
  border: 1px solid var(--dark-color);
  background-color: transparent;
  border-radius: 8px;
  overflow: hidden;
  padding: 0px;
  margin-bottom: 10px;
}
.question .card .card-header {
  padding: 0px;
  margin: 0px;
}
.question .card .card-header .btn {
  width: 100%;
  padding: 14px 30px;
  position: relative;
  z-index: 9;
  color: var(--dark-color);
  font-size: 18px;
  font-weight: 600;
  text-align: start;
  background-color: var(--light-color);
}
@media (max-width: 992px) {
  .question .card .card-header .btn {
    font-size: 14px;
    padding: 14px 15px;
  }
}
.question .card .card-header .btn::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: url("../images/icons/plus.svg") center/contain no-repeat;
  top: calc(50% - 12px);
  right: 10px;
  z-index: -1;
  transition: all 0.3s linear;
}
html[dir=rtl] .question .card .card-header .btn::after {
  left: 10px;
  right: unset;
}
.question .card .card-header .btn[aria-expanded=true]::after {
  transform: rotate(180deg);
}
.question .card .card-body {
  padding: 16px 30px;
  margin: 0px;
  border: 0px;
}
@media (max-width: 992px) {
  .question .card .card-body {
    padding: 15px 10px;
  }
}
.question .card .card-body p {
  color: var(--dark-color);
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
}
.question .question-btn {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.question .question-btn .custom-btn {
  width: 210px;
}

.ready-section .contain {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ready-section .ready-title {
  font-size: 48px;
  color: var(--dark-color);
  font-weight: bold;
  text-align: center;
  margin-bottom: 32px;
}
@media (max-width: 992px) {
  .ready-section .ready-title {
    font-size: 30px;
  }
}
.ready-section .arrow-img {
  position: absolute;
  top: 2%;
  left: 20% !important;
}
@media (max-width: 1367px) {
  .ready-section .arrow-img {
    top: 2%;
    left: 15% !important;
  }
}
@media (max-width: 992px) {
  .ready-section .arrow-img {
    display: none;
  }
}
.ready-section .ready-desc {
  font-size: 18px;
  color: #333f51;
  width: 55%;
  text-align: center;
  margin-bottom: 52px;
}
@media (max-width: 992px) {
  .ready-section .ready-desc {
    font-size: 16px;
    width: 100%;
  }
}
.ready-section .ready-btn {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 16px;
}
@media (max-width: 992px) {
  .ready-section .ready-btn {
    flex-direction: column;
    width: 100%;
  }
  .ready-section .ready-btn .custom-btn {
    width: 100%;
  }
}
.ready-section .image-contain {
  width: 100%;
  height: 400px;
  animation: translateX 1s linear infinite alternate;
}
@media (max-width: 992px) {
  .ready-section .image-contain {
    height: 100px;
    margin-top: 20px;
  }
}
.ready-section .image-contain img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom center;
     object-position: bottom center;
}

.footer {
  background: linear-gradient(to right, #232340 0%, #2f374e 43%, #404f65 100%);
  padding: 40px 0;
}
.footer .footer__form {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 6px;
  border-radius: 40px;
  margin-top: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.footer .footer__form .footer__input {
  flex: 1;
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  background: transparent;
  color: #fff;
  outline: none;
}
.footer .footer__form .footer__input::-moz-placeholder {
  color: #ccc;
}
.footer .footer__form .footer__input::placeholder {
  color: #ccc;
}
.footer .footer__form .footer__button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 40px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}
.footer h2 {
  font-size: 36px;
  font-weight: 700;
  color: var(--light-color);
  margin-bottom: 16px;
}
@media (max-width: 992px) {
  .footer h2 {
    font-size: 30px;
    text-align: center;
  }
}
.footer p {
  font-size: 20px;
  margin-bottom: 24px;
  color: var(--light-color);
}
@media (max-width: 992px) {
  .footer p {
    font-size: 16px;
    text-align: center;
  }
}
.footer .footer-details {
  padding: 45px 0px;
  border-top: 1px solid rgba(238, 240, 243, 0.3);
  border-bottom: 1px solid rgba(238, 240, 243, 0.3);
}
.footer .footer-details .logo {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: start;
}
@media (max-width: 992px) {
  .footer .footer-details .logo {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 30px;
  }
}
.footer .footer__nav {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  list-style: none;
  padding: 0;
}
@media (max-width: 992px) {
  .footer .footer__nav {
    flex-direction: column;
    gap: 30px;
  }
}
.footer .footer__nav a {
  color: #ffffff;
  font-size: 16px;
  margin: 0 20px;
  text-decoration: none;
  transition: color 0.3s;
}
.footer .footer__nav a:hover {
  color: var(--primary-color);
}
.footer .footer__social {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 18px;
}
@media (max-width: 992px) {
  .footer .footer__social {
    margin-top: 30px;
  }
}
.footer .footer__social .footer__social-link {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.footer .footer__social .footer__social-link img {
  width: 24px;
  height: 24px;
  transition: opacity 0.3s;
  filter: var(--light-filter);
  transition: color 0.3s;
}
.footer .footer__social .footer__social-link:hover img {
  filter: var(--primary-filter);
}
.footer .footer__legal {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
}
@media (max-width: 992px) {
  .footer .footer__legal {
    flex-direction: column;
  }
}
.footer .footer__legal span {
  font-size: 14px;
  color: #fff;
}
.footer .footer__legal a {
  color: #ffffff;
  font-size: 14px;
  text-decoration: underline !important;
  transition: color 0.3s;
}
.footer .footer__legal a:hover {
  color: var(--primary-color);
}
.footer .footer__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer .footer__logo img {
  width: 120px;
  height: auto;
}

@media (max-width: 999px) {
  .order-mobile-0 {
    order: 0;
  }
  .order-mobile-1 {
    order: 1;
  }
}/*# sourceMappingURL=style.css.map */